In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pb_parquet = pd.read_parquet('../supplementary_LEAD.parquet')
haps_parquet = pd.read_parquet('../supplementary_HAPS.parquet')
no_parquet = pd.read_parquet('../supplementary_NONOxNOy.parquet')
vocs_parquet = pd.read_parquet('../supplementary_VOCS.parquet')

In [31]:
pb_parquet.head(50).sort_values('Date.Local')

   State.Name  Date.Local  Parameter.Name  Arithmetic.Mean  X1st.Max.Value
30    Alabama  1980-01-01  Lead (TSP) STP             0.05            0.05
0     Alabama  1980-01-04  Lead (TSP) STP             0.04            0.04
31    Alabama  1980-01-04  Lead (TSP) STP             0.02            0.02
32    Alabama  1980-01-07  Lead (TSP) STP             4.31            4.31
33    Alabama  1980-01-10  Lead (TSP) STP             0.10            0.10
34    Alabama  1980-01-13  Lead (TSP) STP             0.05            0.05
1     Alabama  1980-01-16  Lead (TSP) STP             0.26            0.26
35    Alabama  1980-01-16  Lead (TSP) STP             0.59            0.59
36    Alabama  1980-01-22  Lead (TSP) STP             5.93            5.93
37    Alabama  1980-01-25  Lead (TSP) STP             0.69            0.69
2     Alabama  1980-01-28  Lead (TSP) STP             0.13            0.13
38    Alabama  1980-01-28  Lead (TSP) STP             0.09            0.09
39    Alabama  1980-01-31  Lead (TSP) STP             0.08            0.08
40    Alabama  1980-02-03  Lead (TSP) STP             0.09            0.09
41    Alabama  1980-02-06  Lead (TSP) STP             0.16            0.16
3     Alabama  1980-02-09  Lead (TSP) STP             0.11            0.11
42    Alabama  1980-02-09  Lead (TSP) STP             0.24            0.24
43    Alabama  1980-02-13  Lead (TSP) STP             0.50            0.50
44    Alabama  1980-02-15  Lead (TSP) STP             1.64            1.64
45    Alabama  1980-02-18  Lead (TSP) STP             2.40            2.40
4     Alabama  1980-02-21  Lead (TSP) STP             0.10            0.10
46    Alabama  1980-02-22  Lead (TSP) STP             1.18            1.18
47    Alabama  1980-02-24  Lead (TSP) STP             0.64            0.64
48    Alabama  1980-02-27  Lead (TSP) STP             0.03            0.03
49    Alabama  1980-03-01  Lead (TSP) STP             0.91            0.91
5     Alabama  1980-03-04  Lead (TSP) STP             0.24            0.24
6     Alabama  1980-03-16  Lead (TSP) STP             0.30            0.30
7     Alabama  1980-03-28  Lead (TSP) STP             0.24            0.24
8     Alabama  1980-04-09  Lead (TSP) STP             0.25            0.25
9     Alabama  1980-05-03  Lead (TSP) STP             0.44            0.44
10    Alabama  1980-05-15  Lead (TSP) STP             0.27            0.27
11    Alabama  1980-05-27  Lead (TSP) STP             0.44            0.44
12    Alabama  1980-06-08  Lead (TSP) STP             0.10            0.10
13    Alabama  1980-06-20  Lead (TSP) STP             0.22            0.22
14    Alabama  1980-07-02  Lead (TSP) STP             0.29            0.29
15    Alabama  1980-07-14  Lead (TSP) STP             0.35            0.35
16    Alabama  1980-07-26  Lead (TSP) STP             0.18            0.18
17    Alabama  1980-08-07  Lead (TSP) STP             0.55            0.55
18    Alabama  1980-08-19  Lead (TSP) STP             0.40            0.40
19    Alabama  1980-08-31  Lead (TSP) STP             0.13            0.13
20    Alabama  1980-09-12  Lead (TSP) STP             0.61            0.61
21    Alabama  1980-09-24  Lead (TSP) STP             0.48            0.48
22    Alabama  1980-10-06  Lead (TSP) STP             0.17            0.17
23    Alabama  1980-10-18  Lead (TSP) STP             0.21            0.21
24    Alabama  1980-10-30  Lead (TSP) STP             0.69            0.69
25    Alabama  1980-11-11  Lead (TSP) STP             0.16            0.16
26    Alabama  1980-11-23  Lead (TSP) STP             0.24            0.24
27    Alabama  1980-12-05  Lead (TSP) STP             1.82            1.82
28    Alabama  1980-12-17  Lead (TSP) STP             0.52            0.52
29    Alabama  1980-12-29  Lead (TSP) STP             0.66            0.66

In [11]:
pb_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 866835 entries, 0 to 866834
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   State.Name       866835 non-null  object
 1   Date.Local       866835 non-null  object
 2   Parameter.Name   866835 non-null  object
 3   Arithmetic.Mean  866835 non-null  float64
 4   X1st.Max.Value   866835 non-null  float64
dtypes: float64(2), object(3)
memory usage: 33.1+ MB

In [12]:
pb_parquet.describe()

       Arithmetic.Mean  X1st.Max.Value
count    866835.000000   866835.000000
mean          0.240588        0.240588
std           1.112296        1.112296
min          -0.007000       -0.007000
25%           0.010000        0.010000
50%           0.040000        0.040000
75%           0.160000        0.160000
max         147.900000      147.900000

In [14]:
pb_parquet.groupby(['State.Name', 'Date.Local']).head()

,State.Name,Date.Local,Parameter.Name,Arithmetic.Mean,X1st.Max.Value
0,Alabama,1980-01-04,Lead (TSP) STP,0.0400,0.0400
1,Alabama,1980-01-16,Lead (TSP) STP,0.2600,0.2600
2,Alabama,1980-01-28,Lead (TSP) STP,0.1300,0.1300
3,Alabama,1980-02-09,Lead (TSP) STP,0.1100,0.1100
4,Alabama,1980-02-21,Lead (TSP) STP,0.1000,0.1000
...,...,...,...,...,...
866830,West Virginia,2019-12-05,Lead (TSP) STP,0.0025,0.0025
866831,West Virginia,2019-12-11,Lead (TSP) STP,0.0012,0.0012
866832,West Virginia,2019-12-17,Lead (TSP) STP,0.0020,0.0020
866833,West Virginia,2019-12-23,Lead (TSP) STP,0.0112,0.0112
866834,West Virginia,2019-12-29,Lead (TSP) STP,0.0097,0.0097

In [34]:
pb_parquet['Date.Local'] = pb_parquet['Date.Local'].astype(str)

In [35]:
pb_parquet[['Date.Local.Year', 'Date.Local.Month', 'Date.Local.Day']] = pb_parquet['Date.Local'].str.split('-', expand=True)

In [37]:
pb_parquet.head()

,State.Name,Date.Local,Parameter.Name,Arithmetic.Mean,X1st.Max.Value,Date.Local.Year,Date.Local.Month,Date.Local.Day
0,Alabama,1980-01-04,Lead (TSP) STP,0.04,0.04,1980,01,04
1,Alabama,1980-01-16,Lead (TSP) STP,0.26,0.26,1980,01,16
2,Alabama,1980-01-28,Lead (TSP) STP,0.13,0.13,1980,01,28
3,Alabama,1980-02-09,Lead (TSP) STP,0.11,0.11,1980,02,09
4,Alabama,1980-02-21,Lead (TSP) STP,0.10,0.10,1980,02,21

In [56]:
pb_ag = pb_parquet.groupby(by=['State.Name', 'Date.Local.Year', 'Date.Local.Month']).describe()

In [60]:
pb_parquet.groupby(by=['State.Name', 'Date.Local.Year']).describe()

                           Arithmetic.Mean                             \
                                     count      mean       std    min
State.Name Date.Local.Year
Alabama    1980                      101.0  1.231683  1.986881  0.020
           1981                      304.0  0.823454  1.954147  0.000
           1982                      360.0  0.845758  1.862625  0.016
           1983                      527.0  0.865832  1.900166  0.000
           1984                      437.0  1.219908  3.562002  0.000
...                                    ...       ...       ...    ...
Wyoming    1981                       25.0  0.010560  0.008842  0.000
           1982                       24.0  0.001000  0.003388  0.000
           1983                       19.0  0.007247  0.002790  0.000
           1984                       14.0  0.000000  0.000000  0.000
           1985                        8.0  0.001337  0.003783  0.000

                                                             X1st.Max.Value  \
                                25%     50%     75%      max          count
State.Name Date.Local.Year
Alabama    1980             0.18000  0.4400  1.3600  11.0800          101.0
           1981             0.15000  0.2900  0.6725  23.2000          304.0
           1982             0.22000  0.3221  0.5755  18.5800          360.0
           1983             0.15135  0.2770  0.7000  18.2400          527.0
           1984             0.15000  0.3400  0.8000  44.3700          437.0
...                             ...     ...     ...      ...            ...
Wyoming    1981             0.00000  0.0130  0.0170   0.0280           25.0
           1982             0.00000  0.0000  0.0000   0.0120           24.0
           1983             0.00700  0.0070  0.0070   0.0149           19.0
           1984             0.00000  0.0000  0.0000   0.0000           14.0
           1985             0.00000  0.0000  0.0000   0.0107            8.0

                                                                        \
                                mean       std    min      25%     50%
State.Name Date.Local.Year
Alabama    1980             1.231683  1.986881  0.020  0.18000  0.4400
           1981             0.823454  1.954147  0.000  0.15000  0.2900
           1982             0.845758  1.862625  0.016  0.22000  0.3221
           1983             0.865832  1.900166  0.000  0.15135  0.2770
           1984             1.219908  3.562002  0.000  0.15000  0.3400
...                              ...       ...    ...      ...     ...
Wyoming    1981             0.010560  0.008842  0.000  0.00000  0.0130
           1982             0.001000  0.003388  0.000  0.00000  0.0000
           1983             0.007247  0.002790  0.000  0.00700  0.0070
           1984             0.000000  0.000000  0.000  0.00000  0.0000
           1985             0.001337  0.003783  0.000  0.00000  0.0000


                               75%      max
State.Name Date.Local.Year
Alabama    1980             1.3600  11.0800
           1981             0.6725  23.2000
           1982             0.5755  18.5800
           1983             0.7000  18.2400
           1984             0.8000  44.3700
...                            ...      ...
Wyoming    1981             0.0170   0.0280
           1982             0.0000   0.0120
           1983             0.0070   0.0149
           1984             0.0000   0.0000
           1985             0.0000   0.0107

[1512 rows x 16 columns]

In [57]:
pb_ag.head()

                                            Arithmetic.Mean            \
                                                      count      mean
State.Name Date.Local.Year Date.Local.Month
Alabama    1980            01                          13.0  0.949231
                           02                          11.0  0.644545
                           03                          13.0  1.133077
                           04                          12.0  1.567500
                           05                          12.0  1.150833

                                                                           \
                                                  std   min     25%   50%
State.Name Date.Local.Year Date.Local.Month
Alabama    1980            01                1.892258  0.02  0.0500  0.10
                           02                0.777565  0.03  0.1050  0.24
                           03                1.914764  0.03  0.2400  0.30
                           04                1.792490  0.11  0.2225  0.58
                           05                1.465906  0.02  0.2700  0.63

                                                          X1st.Max.Value  \
                                                75%   max          count
State.Name Date.Local.Year Date.Local.Month
Alabama    1980            01                0.5900  5.93           13.0
                           02                0.9100  2.40           11.0
                           03                0.9100  7.14           13.0
                           04                2.4025  5.46           12.0
                           05                1.5475  5.32           12.0

                                                                               \
                                                 mean       std   min     25%
State.Name Date.Local.Year Date.Local.Month
Alabama    1980            01                0.949231  1.892258  0.02  0.0500
                           02                0.644545  0.777565  0.03  0.1050
                           03                1.133077  1.914764  0.03  0.2400
                           04                1.567500  1.792490  0.11  0.2225
                           05                1.150833  1.465906  0.02  0.2700


                                              50%     75%   max
State.Name Date.Local.Year Date.Local.Month
Alabama    1980            01                0.10  0.5900  5.93
                           02                0.24  0.9100  2.40
                           03                0.30  0.9100  7.14
                           04                0.58  2.4025  5.46
                           05                0.63  1.5475  5.32

In [50]:
bool_check = pb_parquet['Arithmetic.Mean'] == pb_parquet['X1st.Max.Value']

In [53]:
bool_check.value_counts()

True    866835
dtype: int64

In [36]:
haps_parquet.head(5)

  State.Name  Date.Local     Parameter.Name  Arithmetic.Mean  X1st.Max.Value
0    Alabama  1980-01-04  Arsenic (TSP) STP              0.0             0.0
1    Alabama  1980-01-16  Arsenic (TSP) STP              0.0             0.0
2    Alabama  1980-01-28  Arsenic (TSP) STP              0.0             0.0
3    Alabama  1980-02-09  Arsenic (TSP) STP              0.0             0.0
4    Alabama  1980-02-21  Arsenic (TSP) STP              0.0             0.0

In [9]:
no_parquet.head(5)

  State.Name  Date.Local     Parameter.Name  Arithmetic.Mean  X1st.Max.Value
0    Alabama  1980-01-01  Nitric oxide (NO)        54.458333           275.0
1    Alabama  1980-01-02  Nitric oxide (NO)       130.545455           279.0
2    Alabama  1980-01-03  Nitric oxide (NO)       122.333333           421.0
3    Alabama  1980-01-04  Nitric oxide (NO)         5.600000            12.0
4    Alabama  1980-01-05  Nitric oxide (NO)         6.166667            13.0

In [32]:
vocs_parquet.

(26601135, 5)